.drop_x {
        background-color:rgba(204, 204, 204, 0.5);
        padding: 0.25em 0.35em;
        border-radius: 0.25em;
    }
.drop_v {
            background-color:rgba(0, 0, 255, 0.5);
            padding: 0.25em 0.35em;
            border-radius: 0.25em;
        }
.drop_n {
            background-color:rgba(255, 166, 0, 0.5);
            padding: 0.25em 0.35em;
            border-radius: 0.25em;
        }
.drop_g {
            background-color:rgba(0, 128, 0, 0.5);
            padding: 0.25em 0.35em;
            border-radius: 0.25em;
        }
.wrapper {
        display: grid;
        grid-template-columns: auto 300px;
        column-gap: 10px;
        }
              
.grid_center {
        display: grid;
        padding-left: 20px;
        justify-content: start;
        align-items: center;
}
.calendar_table {
        font: 1em Helvetica, sans-serif;
        border-collapse: collapse;
        background-color: #EEEEEE;
        }
.text_area {
        margin-top: 5px;
        width: -moz-available;
        }
th, td {
        font: bold 1em Helvetica, sans-serif;
        border: thin solid;
        padding: .5em;
        }
td{
        background-image: linear-gradient(#f9f9f9, #e3e3e3);
        }
th {
        background-color: #B5FF87;
        }
.datum_tag {
        font: bold 1.3em Helvetica, sans-serif;
        }
.datum_month {
        color:  #212f3d;
        font: 1.3em Helvetica, sans-serif;
        }
.datum_year {
        color:  #212f3d;
        font: 0.5em Helvetica, sans-serif;
        }
.box-head-calendar {
    background-color: lightgrey;
    width: 1000px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}
.urgent-notes {
        font-size: smaller;
        white-space: pre-line;
}